# Default ignored files
/.idea.rest-dapper-task.dir/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.rest-dapper-task.dir/.idea/dataSources/
/.idea.rest-dapper-task.dir/.idea/dataSources.local.xml
